.largeInfo {
    display: block;
}

.largeInfo p {
    font-size: 22px;
}

.largeInfo .text-mail-1 {
    padding-left: 19px;
}

.largeInfo .text-mail-3 {
    padding-left: 59px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .largeInfo p {
        font-size: 18px;
    }
    .largeInfo .text-mail-1 {
        padding-left: 16px;
    }
    .largeInfo .text-mail-3 {
        padding-left: 49px;
    }
}

@media only screen and (max-width: 767px) {
    .largeInfo {
        display: none;
    }
}